* {
    box-sizing: content-box;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#fondo {
    background-color: #d3d3d3;
    font-family: 'Roboto', sans-serif;
}

#logo {
    display: flex;
    background-color: #55748f;
    align-items: flex-end;
    padding: 10px;
    font-family: 'Hind', sans-serif;
    font-size: x-small;
}

#back-pres {
    background-image: url(../img/plaza.png);
}

#titPrin {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #e6e5e5d9;
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
}


#parrPrin {
    text-align: center;
    background-color: #e6e5e5d9;
    font-family: 'Roboto', sans-serif;
}

#indice {
    padding: 20px;
    border: solid black 1px;
    display: table;
    margin: 10px;
    margin-left: 30px;
    background-color: #e6e5e5ec;
    font-family: 'Roboto', sans-serif;
}

.itemInd {
    margin: 5px;
}

.sub-title {
    text-align: center;
    padding: 10px;
}

.sections {
    padding: 10px;
}

.titEmef {
    text-decoration-line: underline;
    text-decoration-style: solid;
    margin: 10px;
}

.content-text {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.item-AGF {
    padding: 5px;
}

.personalidad {
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.parrFI{
    padding-top: 5px;
}

.imgFI {
    padding-right: 10px;
}

.imgs-act {
    display: flex;
    justify-content: center;
}

.imagen-act {
    padding: 5px;
}

#lugHis {
    display: flex;
}

.contCdC {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.tituloCdC {
    text-align: center;
}

.img-CdC {
    padding-left: 10px;
}

footer {
    background-color: #727272;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

.logofooter {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
}

#btn-top {
    position: fixed;
    bottom: 20px;
    z-index: 999;
    right: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
}